.u-section-1 .u-sheet-1 {
  min-height: 857px;
}

.u-section-1 .u-image-1 {
  width: 945px;
  height: 555px;
  margin: 50px auto 0 0;
}

.u-section-1 .u-slider-1 {
  width: 533px;
  min-height: 394px;
  height: auto;
  margin: -192px 0 50px auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: 32px;
  height: 10px;
  top: auto;
  bottom: -19px;
}

.u-section-1 .u-carousel-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 65px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  width: 183px;
  height: 52px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin: 26px auto 0 0;
  padding: 14px 31px 16px 30px;
}

.u-section-1 .u-carousel-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 65px;
}

.u-section-1 .u-text-3 {
  font-size: 6rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  width: 183px;
  height: 52px;
  margin: 26px auto 0 0;
  padding: 14px 31px 16px 30px;
}

.u-section-1 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-1 .u-image-1 {
    width: 823px;
    height: 538px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: -174px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-1 .u-image-1 {
    width: 638px;
    height: 457px;
    margin-top: 60px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: -107px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-1 .u-image-1 {
    width: 480px;
    height: 350px;
  }

  .u-section-1 .u-slider-1 {
    width: 480px;
    margin-top: -48px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-1 .u-image-1 {
    width: 365px;
    height: 269px;
    margin-left: -50px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 382px;
    margin-top: -35px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-carousel-indicators-1 {
    bottom: -26px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    font-weight: normal;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
    font-weight: normal;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1057px;
}

.u-section-2 .u-image-1 {
  width: 520px;
  height: 665px;
  margin: 68px 0 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -673px 570px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: normal;
  margin: 20px 570px 0 auto;
}

.u-section-2 .u-accordion-1 {
  width: 570px;
  margin: 42px 570px 60px auto;
}

.u-section-2 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 237px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  margin: -16px 0 0 -11px;
}

.u-section-2 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 237px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  margin: -36px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 370px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-2 .u-accordion-1 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 150px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-2 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1292px;
  }

  .u-section-2 .u-image-1 {
    height: 435px;
    width: 405px;
    margin-top: 19px;
    margin-left: -33px;
    margin-right: -33px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    animation-duration: 1000ms;
    width: auto;
    margin-top: 66px;
    margin-left: -33px;
    margin-right: -33px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-left: -33px;
    margin-right: -33px;
  }

  .u-section-2 .u-accordion-1 {
    width: 405px;
    margin: 27px -33px 50px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-accordion-pane-2 {
    min-height: 738px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-bottom: -35px;
  }
}.u-section-3 {
  background-image: url("images/c2657caab4f347a69fac6f3c63e2858c.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 707px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  font-size: 15.625rem;
  line-height: 0.8;
  margin: 270px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-3 .u-text-1 {
    font-size: 12.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-3 .u-text-1 {
    font-size: 11.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-text-1 {
    font-size: 8.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
    animation-duration: 1000ms;
    margin-top: 289px;
    margin-bottom: 60px;
  }
}